In [68]:
# import python libraries for machine learning
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

# load the dataset account_transactions.csv and present

In [72]:
# load data for account_transaciton and normalize
data = pd.read_csv('account_transactions.csv')# remove garbage data, columns showClock, displaydate, footer, id, striketrough, kind, detail and category_id
data = data.drop(['showclock', 'displaydate', 'footer', 'id', 'strikethrough', 'kind'], axis=1)
data['description'] = data['title'] + ' ' + data['detail']
data.drop(['title', 'detail'], axis=1, inplace=True)
data.rename(columns={'postdate': 'time'}, inplace=True)
print(data.tail(5))

           time   amount  category_id  \
741  2024-04-12   189.89         11.0
742  2024-04-12  3000.00         19.0
743  2024-04-15   118.13          1.0
744  2024-04-15   180.00          8.0
745  2024-04-15   162.00         15.0

                                           description
741                Transferência enviada Posto Candial
742             Transferência enviada Juliano Pedreiro
743                   Transferência enviada Vivo - Gvt
744     Transferência enviada Frank Contabilidade LTDA
745  Transferência enviada Gabriela Freitas de Oliv...

In [71]:
# load the transactions.csv and normalize
data2 = pd.read_csv('transactions.csv')
data2 = data2.drop(['details_status',
                    'amount_without_iof',
                    'details_fx_exchange_rate',
                    'details_fx_precise_amount_usd',
                    'id', 'account', 'details_subcategory', 
                    'details_fx_currency_origin', 'details_charges_amount', 'details_fx_amount_usd',
                    'title'], axis=1)
data2['time'] = data2['time'].str.split(' ').str[0]
data2['amount'] = data2['amount'] / 100
print(data2.tail())

                description  amount     category        time  category_id
2044  Casa de Suco Paulo Vi   99.44  transaction  2024-04-14           10
2045      Google Wm Max Llc   74.90  transaction  2024-04-14            9
2046                  Shell   47.54  transaction  2024-04-14           11
2047   Chatgpt Subscription  111.80  transaction  2024-04-15            8
2048  Pag*Tabacarialeporace  151.38  transaction  2024-04-06            4

In [73]:
# merge the two databases
data = pd.concat([data, data2], axis=0)
data = data.sort_values(by='time')
data = data.reset_index(drop=True)
print(data.tail(5))

            time  amount  category_id  \
2790  2024-04-14   99.44         10.0
2791  2024-04-15  162.00         15.0
2792  2024-04-15  118.13          1.0
2793  2024-04-15  111.80          8.0
2794  2024-04-15  180.00          8.0

                                            description     category
2790                              Casa de Suco Paulo Vi  transaction
2791  Transferência enviada Gabriela Freitas de Oliv...          NaN
2792                   Transferência enviada Vivo - Gvt          NaN
2793                               Chatgpt Subscription  transaction
2794     Transferência enviada Frank Contabilidade LTDA          NaN

In [82]:
# save locally the merged data
data.to_csv('merged_data.csv', index=False)